---
layout: default
---
<div class="span9">
  <div class="row-fluid">
    <div class="span9">
      <!-- <h2>Notebook</h2> -->
      <h2>Recent Activity</h2>
      <h5><li><a href="indice.html">(View all by category)</a></li></h5>

      <div class="row feed">
        <div class="col-md-12 col-md-offset-1">
          <div class="row">
            {% for post in site.posts limit:3 %}
            <div class="col-md-3">
              <t1><li><a href="{{ post.url }}">{{ post.title }}&nbsp;</a></li></t1>
              <t2>{{ post.date | date_to_string }}</t2>
            </div>
            {% endfor %}
          </div>

          <div class="row">
            {% for post in site.posts limit:3 offset:3 %}
            <div class="col-md-3">
             <t1><li><a href="{{ post.url }}">{{ post.title }}&nbsp;</a></li></t1>
             <t2>{{ post.date | date_to_string }}</t2>
            </div>
            {% endfor %}
          </div>

          <div class="row">
            {% for post in site.posts limit:3 offset:6 %}
            <div class="col-md-3">
             <t1><li><a href="{{ post.url }}">{{ post.title }}&nbsp;</a></li></t1>
             <t2>{{ post.date | date_to_string }}</t2>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            {% for post in site.posts limit:3 offset:9 %}
              <div class="col-md-3">
               <t1><li><a href="{{ post.url }}">{{ post.title }}&nbsp;</a></li></t1>
               <t2>{{ post.date | date_to_string }}</t2>
              </div>
            {% endfor %}
          </div>
    </div>

  </div>
</div> <!--end row -->
        
        <div class="col-md-2">
           <h3>on github</h3>
           <t1>{% github_feed mrizzoli, 3 %}</t1>
       </div>
      </div>
    </div>
  </div>
</div>

