<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
      <a class="navbar-brand" href="/">Notes & Stuff</a>
    </div> 

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/labnotebook.html">About</a></li>
        <li><a href="/blog.html">Essays</a></li>
        <div class="navbar-right">
        <li><a href="https://github.com/mrizzoli/mrizzoli.github.io">Source on Github<i class="mega-octicon octicon-mark-github"></i></a>
      </div>
      </ul>
    </div> 
  </div>
</nav>

