---
layout: default
---

<div class="row">
  <!---
  <div class="col-md-2"><i class="glyphicon glyphicon-backward"></i>&nbsp;<a href="/blog.html">Back to Essay List</a></div>
  --->
  <div class="col-md-2 col-md-offset-1"><i class="glyphicon glyphicon-calendar"></i>&nbsp;Modified: {{ page.path | prepend:'_posts/' | git_modified | date_to_string }}</div>
  <div class="col-md-2"><i class="glyphicon glyphicon-book">&nbsp;</i>&nbsp;{% greycite_bib_link type: bib %}</div>
  <div class="col-md-2"> <i class="glyphicon glyphicon-book">&nbsp;</i>&nbsp;{% greycite_bib_link type: ris %}</div>
  <div class="col-md-2"><a href="javascript:window.print()"></a><i class="glyphicon glyphicon-print">&nbsp;</i>&nbsp;Print</div>
</div>
      
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <article>

     <header>
        <h1 class="entry-title">{{ page.title }}</h1>
     </header>


       {{ content }}  

    </article>
  </div>
</div>
